Thumbs.db
.DS_Store

/freo/freo/database/freo.db
/freo/files/entry_files/
/freo/files/entry_images/
/freo/files/entry_options/
/freo/files/entry_thumbnails/
/freo/files/installs/
/freo/files/media_memos/
/freo/files/media_restrictions/
/freo/files/media_thumbnails/
/freo/files/medias/
/freo/files/page_files/
/freo/files/page_images/
/freo/files/page_options/
/freo/files/page_thumbnails/
/freo/files/plugins/
/freo/files/temporaries/entry_files/
/freo/files/temporaries/entry_images/
/freo/files/temporaries/entry_options/
/freo/files/temporaries/entry_thumbnails/
/freo/files/temporaries/installs/
/freo/files/temporaries/media_memos/
/freo/files/temporaries/media_restrictions/
/freo/files/temporaries/media_thumbnails/
/freo/files/temporaries/medias/
/freo/files/temporaries/page_files/
/freo/files/temporaries/page_images/
/freo/files/temporaries/page_options/
/freo/files/temporaries/page_thumbnails/
/freo/files/temporaries/plugins/
/freo/templates_c/
