{include file='internals/admin/header.html' title='管理画面トップ'}
	<div id="content">
		<h2>ステータス</h2>
{* 未承認情報の表示 *}
		<!--{if $freo.user.authority == 'root'}-->
		<!--{if !$entry_count-$entry_approved == 0 or !$page_count-$page_approved == 0 or !$comment_count-$comment_approved == 0 or !$trackback_count-$trackback_approved == 0 or !$user_count-$user_approved	== 0}-->
		<ul class="attention">
			<!--{if !$entry_count-$entry_approved == 0}-->
			<li>未承認のエントリーが{$entry_count-$entry_approved}件あります。
				<ul class="check">
					<li><a href="{$freo.core.http_file}/admin/entry?word=&amp;approved=no">エントリー管理へ</a></li>
				</ul>
			</li>
			<!--{/if}-->
			<!--{if !$page_count-$page_approved == 0}-->
			<li>未承認のページが{$page_count-$page_approved}件あります。
				<ul class="check">
					<li><a href="{$freo.core.http_file}/admin/page?word=&amp;approved=no">ページ管理へ</a></li>
				</ul>
			</li>
			<!--{/if}-->
			<!--{if !$comment_count-$comment_approved == 0}-->
			<li>未承認のコメントが{$comment_count-$comment_approved}件あります。
				<ul class="check">
					<li><a href="{$freo.core.http_file}/admin/comment?word=&amp;approved=no">コメント管理へ</a></li>
				</ul>
			</li>
			<!--{/if}-->
			<!--{if !$trackback_count-$trackback_approved == 0}-->
			<li>未承認のトラックバックが{$trackback_count-$trackback_approved}件あります。
				<ul class="check">
					<li><a href="{$freo.core.http_file}/admin/trackback?word=&amp;approved=no">トラックバック管理へ</a></li>
				</ul>
			</li>
			<!--{/if}-->
			<!--{if !$user_count-$user_approved	== 0}-->
			<li>未承認のユーザーが{$user_count-$user_approved}人います。
				<ul class="check">
					<li><a href="{$freo.core.http_file}/admin/user">ユーザー管理へ</a></li>
				</ul>
			</li>
			<!--{/if}-->
		</ul>
		<!--{/if}-->
		<!--{/if}-->
{* /未承認情報の表示 *}
		<ul>
			<li>現在 <em>{$freo.user.id}</em> としてログインしています。権限は <em><!--{if $freo.user.authority == 'root'}-->管理者<!--{elseif $freo.user.authority == 'author'}-->投稿者<!--{elseif $freo.user.authority == 'guest'}-->ゲスト<!--{/if}--></em> です。</li>
			<li>本体のバージョンは <em>{$freo.core.version}</em> です。</li>
			<li><a href="{$freo.core.http_file}/admin/entry_form">エントリーを登録する</a>。</li>
			<li><a href="{$freo.core.http_file}">サイトを確認する</a>。</li>
			<!--{if $freo.user.authority == 'root'}-->
			<li><a href="{$freo.core.http_file}/setup">セットアップを実行する</a>。</li>
			<!--{/if}-->
		</ul>
		<h3>登録データ</h3>
		<table summary="登録データ">
			<thead>
				<tr>
					<th>項目</th>
					<th>登録件数</th>
					<th>未承認</th>
					<th>更新日時</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th>項目</th>
					<th>登録件数</th>
					<th>未承認</th>
					<th>更新日時</th>
				</tr>
			</tfoot>
			<tbody>
				<tr>
					<td>エントリー</td>
					<td class="number">{$entry_count|number_format}</td>
					<td class="number">{$entry_count-$entry_approved|number_format}</td>
					<td><!--{if $entry_modified|date_format:'%Y%m%d' == $smarty.now|date_format:'%Y%m%d'}-->{$entry_modified|date_format:'%H:%M:%S'}<!--{else}-->{$entry_modified|date_format:'%Y/%m/%d'}<!--{/if}--></td>
				</tr>
				<tr>
					<td>ページ</td>
					<td class="number">{$page_count|number_format}</td>
					<td class="number">{$page_count-$page_approved|number_format}</td>
					<td><!--{if $page_modified|date_format:'%Y%m%d' == $smarty.now|date_format:'%Y%m%d'}-->{$page_modified|date_format:'%H:%M:%S'}<!--{else}-->{$page_modified|date_format:'%Y/%m/%d'}<!--{/if}--></td>
				</tr>
				<tr>
					<td>コメント</td>
					<td class="number">{$comment_count|number_format}</td>
					<td class="number">{$comment_count-$comment_approved|number_format}</td>
					<td><!--{if $comment_modified|date_format:'%Y%m%d' == $smarty.now|date_format:'%Y%m%d'}-->{$comment_modified|date_format:'%H:%M:%S'}<!--{else}-->{$comment_modified|date_format:'%Y/%m/%d'}<!--{/if}--></td>
				</tr>
				<tr>
					<td>トラックバック</td>
					<td class="number">{$trackback_count|number_format}</td>
					<td class="number">{$trackback_count-$trackback_approved|number_format}</td>
					<td><!--{if $trackback_modified|date_format:'%Y%m%d' == $smarty.now|date_format:'%Y%m%d'}-->{$trackback_modified|date_format:'%H:%M:%S'}<!--{else}-->{$trackback_modified|date_format:'%Y/%m/%d'}<!--{/if}--></td>
				</tr>
				<tr>
					<td>ユーザー</td>
					<td class="number">{$user_count|number_format}</td>
					<td class="number">{$user_count-$user_approved|number_format}</td>
					<td><!--{if $user_modified|date_format:'%Y%m%d' == $smarty.now|date_format:'%Y%m%d'}-->{$user_modified|date_format:'%H:%M:%S'}<!--{else}-->{$user_modified|date_format:'%Y/%m/%d'}<!--{/if}--></td>
				</tr>
			</tbody>
		</table>
		<h3>ファイルサイズ</h3>
		<table summary="ファイルサイズ">
			<thead>
				<tr>
					<th>項目</th>
					<th>ファイルサイズ</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th>項目</th>
					<th>ファイルサイズ</th>
				</tr>
			</tfoot>
			<tbody>
				<tr>
					<td>エントリーファイル</td>
					<td class="number">{$entry_file_size/1024|intval|number_format}KB</td>
				</tr>
				<tr>
					<td>エントリーイメージ</td>
					<td class="number">{$entry_image_size/1024|intval|number_format}KB</td>
				</tr>
				<tr>
					<td>エントリーオプションファイル</td>
					<td class="number">{$entry_option_size/1024|intval|number_format}KB</td>
				</tr>
				<tr>
					<td>ページファイル</td>
					<td class="number">{$page_file_size/1024|intval|number_format}KB</td>
				</tr>
				<tr>
					<td>ページイメージ</td>
					<td class="number">{$page_image_size/1024|intval|number_format}KB</td>
				</tr>
				<tr>
					<td>ページオプションファイル</td>
					<td class="number">{$page_option_size/1024|intval|number_format}KB</td>
				</tr>
				<tr>
					<td>メディアファイル</td>
					<td class="number">{$media_size/1024|intval|number_format}KB</td>
				</tr>
			</tbody>
		</table>
	</div>
{include file='internals/admin/footer.html'}
