<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>管理者用 | {$freo.config.basis.title}</title>
	<link rel="stylesheet" href="{$freo.core.http_url}{$smarty.const.FREO_CSS_DIR}common.css" />
	<link rel="stylesheet" href="{$freo.core.http_url}{$smarty.const.FREO_CSS_DIR}iframe.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-colorbox@1.6.4/example2/colorbox.css" integrity="sha256-62u5vQN/7KulWWARFuJ4hYyyNP5d8Clqg8LL9BfAuNw=" crossorigin="anonymous" />
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-colorbox@1.6.4/jquery.colorbox.min.js" integrity="sha384-HCysbL3DGKU6wK4NgLZs85sazwPPnuhyYh/hWZDmxZvVvvrz8A6Djn6SxU5CX57v" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/tablesorter@2.31.3/dist/js/jquery.tablesorter.combined.min.js" integrity="sha256-ounC3wWwZ9iBUyF8x1+X+REppGjK+p6/+w+ky1MGoMM=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{$freo.core.http_url}{$smarty.const.FREO_JS_DIR}common.js"></script>
	<script type="text/javascript" src="{$freo.core.http_url}{$smarty.const.FREO_JS_DIR}iframe.js"></script>
</head>

<body>
<div id="container">
	<h1>{$freo.config.basis.title}</h1>
