{include file='internals/admin/header.html' title='ログ閲覧'}
	<div id="content">
		<h2>ログ閲覧</h2>
		<ul>
			<li>登録されたログは以下のとおりです。</li>
		</ul>
		<table summary="ログ">
			<thead>
				<tr>
					<th>日時</th>
					<th>ユーザーID</th>
					<th>ホスト名（IPアドレス）</th>
					<th>本文</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th>日時</th>
					<th>ユーザーID</th>
					<th>ホスト名（IPアドレス）</th>
					<th>本文</th>
				</tr>
			</tfoot>
			<tbody>
				<!--{foreach from=$logs|smarty:nodefaults item='log'}-->
				<tr>
					<td><!--{if $log.created|date_format:'%Y%m%d' == $smarty.now|date_format:'%Y%m%d'}-->{$log.created|date_format:'%H:%M:%S'}<!--{else}-->{$log.created|date_format:'%Y/%m/%d'}<!--{/if}--></td>
					<td>{$log.user_id}</td>
					<td>{$log.ip|gethostbyaddr}</td>
					<td>{$log.text}</td>
				</tr>
				<!--{/foreach}-->
			</tbody>
		</table>
		<!--{if $log_page > 1}-->
		<div id="page">
			<h2>ページ移動</h2>
			<ul class="order">
				<li><!--{if $freo.query.page > 1}--><a href="{$freo.core.http_file}/admin/log?page={$freo.query.page-1}">前のページ</a><!--{else}-->前のページ<!--{/if}--></li>
				<li><!--{if $log_page > $freo.query.page}--><a href="{$freo.core.http_file}/admin/log?page={$freo.query.page+1}">次のページ</a><!--{else}-->次のページ<!--{/if}--></li>
			</ul>
			<ul class="direct">
				<li>ページ</li>
				<!--{assign var="range" value="1"}-->
				<!--{if $freo.query.page > 0 && $log_page > 0}-->
				<!--{if $log_page > $range*2+1 && $freo.query.page > $range+1}-->
				<li><a href="{$freo.core.http_file}/admin/log?page=1">1</a></li>
				<li>...</li>
				<!--{/if}-->
				<!--{section name='loop' loop=$log_page}-->
				<!--{if (! ($freo.query.page <= $range+1 && $freo.query.page >= $log_page-$range) && ($smarty.section.loop.iteration <= $freo.query.page+$range && $smarty.section.loop.iteration >= $freo.query.page-$range)) || ($freo.query.page <= $range+1 && $smarty.section.loop.iteration <= $range*2+1) || ($freo.query.page >= $log_page-$range && $smarty.section.loop.iteration >= $log_page-$range*2) }-->
				<li><!--{if $smarty.section.loop.iteration != $freo.query.page}--><a href="{$freo.core.http_file}/admin/log?page={$smarty.section.loop.iteration}">{$smarty.section.loop.iteration}</a><!--{else}-->{$smarty.section.loop.iteration}<!--{/if}--></li>
				<!--{/if}-->
				<!--{/section}-->
				<!--{if $log_page > $range*2+1 && $freo.query.page < $log_page-$range}-->
				<li>...</li>
				<li><a href="{$freo.core.http_file}/admin/log?page={$log_page}">{$log_page}</a></li>
				<!--{/if}-->
				<!--{/if}-->
			</ul>
		</div>
		<!--{/if}-->
	</div>
{include file='internals/admin/footer.html'}
