{include file='internals/admin/header.html' title='トラックバック編集'}
	<div id="content">
		<h2>No.{$freo.query.id}のトラックバックを編集</h2>
		<!--{if $errors}-->
		<ul class="attention">
			<!--{foreach from=$errors|smarty:nodefaults item='error'}-->
			<li>{$error}</li>
			<!--{/foreach}-->
		</ul>
		<!--{/if}-->
		<ul>
			<li>トラックバックを入力してください。</li>
			<li><a href="{$freo.core.http_file}/admin/trackback">トラックバック管理に戻る</a>。</li>
		</ul>
		<form action="{$freo.core.http_file}/admin/trackback_form?id={$freo.query.id}" method="post">
			<fieldset>
				<legend>登録フォーム</legend>
				<input type="hidden" name="freo[token]" value="{$token}">
				<input type="hidden" name="trackback[id]" value="{$input.trackback.id}">
				<dl>
					<dt><label for="trackback_name">名前</label></dt>
						<dd><input type="text" name="trackback[name]" id="trackback_name" size="30" value="{$input.trackback.name}"></dd>
					<dt><label for="url">URL</label></dt>
						<dd><input type="url" name="trackback[url]" id="url" size="30" value="{$input.trackback.url}"></dd>
					<dt><label for="title">タイトル</label></dt>
						<dd><input type="text" name="trackback[title]" id="title" size="30" value="{$input.trackback.title}"></dd>
					<dt><label for="text">本文</label></dt>
						<dd><textarea name="trackback[text]" id="text" cols="50" rows="10">{$input.trackback.text}</textarea></dd>
				</dl>
				<p>
					<input type="submit" name="preview" value="確認する">
					<input type="submit" value="登録する">
				</p>
			</fieldset>
		</form>
		<!--{if $freo.query.id}-->
		<!--{if $input.trackback.approved == 'no'}-->
		<h2>No.{$freo.query.id}のトラックバックを承認</h2>
		<ul>
			<li>このトラックバックは<strong>未承認</strong>です。</li>
			<li>このトラックバックを承認するには、<strong>承認ボタン</strong>を押してください。</li>
		</ul>
		<form action="{$freo.core.http_file}/admin/trackback_approve" method="get" class="approve">
			<fieldset>
				<legend>トラックバック承認フォーム</legend>
				<input type="hidden" name="freo[token]" value="{$token}">
				<input type="hidden" name="id" value="{$freo.query.id}">
				<p><input type="submit" value="承認する"></p>
			</fieldset>
		</form>
		<!--{/if}-->
		<h2>No.{$freo.query.id}のトラックバックを削除</h2>
		<ul>
			<li>このトラックバックを削除するには、<strong>削除ボタン</strong>を押してください。</li>
		</ul>
		<form action="{$freo.core.http_file}/admin/trackback_delete" method="get" class="delete">
			<fieldset>
				<legend>トラックバック削除フォーム</legend>
				<input type="hidden" name="freo[token]" value="{$token}">
				<input type="hidden" name="id" value="{$freo.query.id}">
				<p><input type="submit" value="削除する"></p>
			</fieldset>
		</form>
		<!--{/if}-->
	</div>
{include file='internals/admin/footer.html'}
