/* customized：cccabinet（https://cccabinet.jpn.org/) */

@charset "utf-8";

/********* HTML再定義 ***********************************************/

body {
  padding: 10px;
  background-color: #999;
}

h2,
h3,
h4,
h5,
h6 {
  font-size: 120%;
}

h2 {
  margin: 15px 0;
  padding: 5px 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  font-weight: bold;
}

form h3 {
  margin-top: 30px;
}

/********* 全体 *****************************************************/

#container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border-bottom: 5px solid #666;
  background-color: #fff;
}

/********* ヘッダー *************************************************/

#header {
  clear: both;
}

#header h1 {
  margin: 0;
  line-height: 1.0;
}

#header h1 a:link,
#header h1 a:visited {
  color: #222;
  text-decoration: none;
}

#header h1 a:active,
#header h1 a:hover {
  color: #777;
  text-decoration: none;
}

/********* フッター *************************************************/

#footer {
  clear: both;
}

#footer address {
  padding-top: 10px;
  border-top: 1px solid #999;
}

/********* メニュー *************************************************/

#menu {
  float: left;
  width: 200px;
  margin-right: 10px;
  margin-bottom: 20px;
}

#menu ul li ul {
  margin-top: 0;
  margin-bottom: 0;
}

/********* 内容 *****************************************************/

#content {
  float: left;
  width: calc(100% - 210px);
}

/********* 検索 *****************************************************/

#search form {
  margin-top: 20px;
}

#search form dl {
  margin: 0;
}

#search form dl dt {
  margin: 0;
}

#search form dl dd {
  margin: 0 0 5px 0;
}

#search form p {
  margin: 0;
}

/********* ページ移動 ***********************************************/

#page h2 {
  display: none;
}

#page ul.order {
  margin: 10px 0;
}

#page ul.order li {
  display: inline;
  list-style: none;
  margin-right: 10px;
}

#page ul.direct {
  margin: 10px 0;
  text-align: right;
}

#page ul.direct li {
  display: inline;
  list-style: none;
  margin-left: 10px;
}

/********* 設定編集 *************************************************/

#config form h3 {
  margin: 10px 0;
  padding: 5px;
  background-color: #eee;
}

#config form dl {
  margin-bottom: 20px;
}

/********* レスポンシブ *********************************************/

form textarea {
  width: calc(100% - 10px);
}

.toggle {
  display: none;
}

@media (max-width: 767.98px) {
  body {
    padding: 0;
  }

  #container {
    padding: 15px;
    width: calc(100% - 30px);
  }
}

@media (max-width: 480px) {
  #menu,
  #content {
    float: none;
    width: 100%;
  }

  #menu {
    display: none;
  }

  /* 管理メニュー表示ボタン */
  .toggle {
    display: block;
    margin-top: 15px;
  }

  .toggle::before {
    content: '管理メニューを表示';
  }

  .toggle.open::before {
    content: '管理メニューを閉じる';
  }
}

@media (max-width: 570px) {
  form input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="reset"]):not([size="5"]) {
    width: calc(100% - 10px);
  }
}

/********* 個別指定 *************************************************/

dl dd.list ul {
  margin-top: 0;
  margin-bottom: 0;
}

form dl dd.list {
  padding: 5px;
  border: 1px solid #ccc;
}

form dl dd.list ul {
  margin: 0;
}

form dl dd.list ul li ul {
  margin-left: 20px;
}

/** 管理ステータス画面に未承認データの表示 **/
ul.attention ul.check {
  margin: -2px 0 5px;
}

ul.attention ul.check li {
  list-style: none;
  font-weight: normal;
}

/** jquery tablesorter（非公式フォーク版） **/
table.tablesorter {
  width: 100%;
}

table.tablesorter thead tr .tablesorter-header {
  padding: 4px 20px 4px 4px;
  background: center right no-repeat url(../images/tablesorter/bg.gif);
  white-space: normal;
  cursor: pointer;
}

table.tablesorter thead tr .tablesorter-headerAsc {
  background-image: url(../images/tablesorter/asc.gif);
}

table.tablesorter thead tr .tablesorter-headerDesc {
  background-image: url(../images/tablesorter/desc.gif);
}

table.tablesorter thead tr .sorter-false {
  padding: 4px;
  background-image: none;
  cursor: default;
}
