/* customized：cccabinet（https://cccabinet.jpn.org/) */

@charset "utf-8";

/********* HTMLリセット *********************************************/

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
pre,
blockquote,
th,
td,
form,
fieldset,
input,
textarea {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}

em,
strong,
code,
address,
th {
  font-style: normal;
  font-weight: normal;
}

ul,
ol {
  list-style: none;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: left;
}

fieldset,
img {
  border: 0;
}

/********* HTML再定義 ***********************************************/

html {
  overflow-y: scroll;
}

body {
  margin: 0 auto;
  padding: 0 10px;
  background-color: #fff;
  color: #222;
  font: 80%/1.4 "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
  word-wrap: break-word;
  word-break: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-weight: bold;
}

h1 {
  font-size: 200%;
  font-family: "Arial Black",Arial;
}

h2 {
  font-size: 180%;
}

h3 {
  font-size: 160%;
}

h4 {
  font-size: 140%;
}

h5 {
  font-size: 120%;
}

h6 {
  font-size: 100%;
}

p {
  margin: 10px 0;
}

em,
strong {
  font-style: normal;
  font-weight: bold;
}

ul {
  margin: 10px 20px;
}

ul li {
  list-style: disc;
}

ol {
  margin: 10px 30px;
}

ol li {
  list-style: decimal;
}

dl {
  margin: 10px 0;
}

dl dd {
  margin-left: 30px;
}

pre {
  margin: 10px 0;
  padding: 10px;
  overflow: auto;
  border: 1px solid #ddd;
}

code {
  color: #000080;
}

pre,
code {
  font: 100%/1.2 "ＭＳ ゴシック",monospace;
}

blockquote {
  margin: 10px 0;
  padding: 0 15px;
  overflow: auto;
  border-left: 2px solid #77a;
}

blockquote div,
blockquote p,
blockquote li,
blockquote dt,
blockquote dd {
  color: #777;
}

table {
  max-width: 100%;
  margin: 15px 0;
  word-break: break-all;
  table-layout: fixed;
}

table tr th {
  padding: 5px;
  border: 1px solid #999;
  background-color: #eee;
  font-weight: bold;
  text-align: center;
}

table tr td {
  padding: 5px;
  border: 1px solid #999;
}

table tr td input {
  margin: -2px 0;
}

form {
  margin-bottom: 20px;
}

form legend {
  display: none;
}

form dl dd {
  margin: 0 0 10px 0;
}

form dl dd input,
form dl dd textarea {
  padding: 4px;
}

form dl dd select {
  padding: 2px;
}

form ul {
  margin: 15px 0;
}

form ul li {
  list-style: none;
}

form p {
  margin: 20px 0;
}

form p input {
  padding: 3px 10px;
}

img {
  max-width : 100%;
  height: auto;
  margin: auto 1px;
  vertical-align: middle;
}

a:link,
a:visited {
  color: #00c;
  text-decoration: underline;
}

a:active,
a:hover {
  color: #f70;
  text-decoration: underline;
}

/********* ネタバレ *************************************************/

span.hidearea {
  padding: 3px 10px;
  border: 2px solid #aaa;
  background-color: #eee;
  line-height: 2.0;
  cursor: pointer;
}

span.hidearea:active,
span.hidearea:hover {
  background-color: #aaa;
  color: #eee;
}

div.hidearea {
  padding: 5px 10px;
  border: 2px solid #aaa;
  background-color: #eee;
}

/********* 個別指定 *************************************************/

#action {
  overflow: hidden;
}

#action form {
  float: left;
  margin-right: 3px;
}

.complete {
  color: #0a0;
  font-weight: bold;
}

.attention {
  color: #f00;
  font-weight: bold;
}

.number {
  text-align: right;
}

.check {
  margin-top: -10px;
}
