<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>エラーが発生しました</title>
	<link rel="stylesheet" href="{$freo.core.http_url}{$smarty.const.FREO_CSS_DIR}common.css">
	<link rel="stylesheet" href="{$freo.core.http_url}{$smarty.const.FREO_CSS_DIR}error.css">
	<script src="{$freo.core.http_url}{$smarty.const.FREO_JS_DIR}common.js"></script>
	<script src="{$freo.core.http_url}{$smarty.const.FREO_JS_DIR}error.js"></script>
</head>

<body>
<div id="container">
	<div id="header">
		<h1>freo</h1>
	</div>
	<div id="content">
		<h2>エラーが発生しました</h2>
		<p>{$message}</p>
		<ul>
			<li><a href="javascript:history.go(-1)">1つ前へ戻る</a>。</li>
			<li><a href="{$freo.core.http_file}">トップページ</a></li>
		</ul>
	</div>
	<div id="footer">
		<address>Created by <a href="https://freo.jp/">freo</a>.</address>
	</div>
</div>
</body>

</html>
