<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{if $plugin_title}{$plugin_title} | {elseif $entry.title}{$entry.title} | {elseif $page.title}{$page.title} | {elseif $title}{$title} | {/if}{$freo.config.basis.title}</title>
	<link rel="alternate" href="{$freo.core.http_file}/feed" type="application/rss+xml" title="RSS">
	<link rel="stylesheet" href="{$freo.core.http_url}{$smarty.const.FREO_CSS_DIR}common.css">
	<link rel="stylesheet" href="{$freo.core.http_url}{$smarty.const.FREO_CSS_DIR}default.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-colorbox@1.6.4/example2/colorbox.css" integrity="sha256-62u5vQN/7KulWWARFuJ4hYyyNP5d8Clqg8LL9BfAuNw=" crossorigin="anonymous">
{* フォーム管理プラグインの表示 *}
	<!--{if $smarty.request.freo.mode == 'form'}-->
	<link rel="stylesheet" href="{$freo.core.http_url}{$smarty.const.FREO_CSS_DIR}jquery.subwindow.css">
	<!--{/if}-->
{* /フォーム管理プラグインの表示 *}
</head>

<body>
<div id="container">
	<div id="header">
		<h1><a href="{$freo.core.http_file}">{$freo.config.basis.title}</a></h1>
		<p>{$freo.config.basis.description}</p>
	</div>
	<div id="menu">
		<h2>メニュー</h2>
		<ul>
			<li><a href="{$freo.core.http_file}">トップページ</a></li>
{* メニュー表示プラグインの登録メニューの表示 *}
			<!--{if $plugin_menus|smarty:nodefaults}-->
			<!--{foreach from=$plugin_menus|smarty:nodefaults item='plugin_menu'}-->
			<li><a href="{if $plugin_menu.url|regex_match:'/^https?\:\/\//'}{$plugin_menu.url}{else}{$freo.core.http_file}{$plugin_menu.url}{/if}">{$plugin_menu.title}</a></li>
			<!--{/foreach}-->
			<!--{/if}-->
{* /登録メニューの表示 *}
{* 親ページの表示 *}
			<!--{if $plugin_page_menus|smarty:nodefaults}-->
			<!--{foreach from=$plugin_page_menus|smarty:nodefaults item='plugin_page_menu'}-->
			<li><a href="{$freo.core.http_file}/page/{$plugin_page_menu.id}">{$plugin_page_menu.title}</a></li>
			<!--{/foreach}-->
			<!--{/if}-->
{* /親ページの表示 *}
{* ログインメニューの表示 *}
			<!--{if $freo.user.authority == 'root' or $freo.user.authority == 'author'}-->
			<li><a href="{$freo.core.http_file}/admin">管理者用</a></li>
			<!--{elseif $freo.user.authority == 'guest'}-->
			<li><a href="{$freo.core.http_file}/user">ユーザー用</a></li>
			<!--{else}-->
			<li><a href="{$freo.core.https_file}/login">ログイン</a></li>
			<!--{/if}-->
{* /ログインメニューの表示 *}
		</ul>
	</div>
